*{
    margin: 0;
    padding: 0;
    font-family: "Arial";
}




        /*MENU*/

.leftBlock{
    width: 350px;
    height: 10000px;
    background: rgba(0,39,14,.9);
    margin-left: -260px;
    position: fixed;
    left: 0;
    transition: .1s;
    z-index: 10;
}

.leftBlock:hover{
    margin-left: 0;
}

.logo{
    position: absolute;
    top: 85px;
    left: 60px;
}

.logo img{
    width: 200px;
}


.logo_mini{
    position: absolute;
    top: 55px;
    left: 275px;
}

.leftBlock:hover .logo_mini{
    display: none;
}

.leftBlock:hover .pictures{
    display: none;
}

.leftBlockMenu{
    margin-top: 175px;
}

.leftBlockMenu li a{
    font-size: 18px;
    line-height: 60px;
    padding-left: 65px;
    margin-right: 35px;
    margin-left: 25px;
    display: block;
    color: #bbb;
    text-decoration: none;
    transition: .25s;
}

.menu li {
    border-top: 1px solid #000;
    position: relative;
    
}

.menu li:last-child{
    border-bottom: 1px solid #000;
}

.menu li:hover{
    background: rgba(0,0,0,.75);
}

.pictures{
    position: fixed;
    z-index: 15;
    width: 35px;
    top: 165px;
    left: 0;
    display: block;
}

.pictures p{
    margin-top: 27px;
    margin-left: 27px;
}


.menu_description :before{
    content: " ";
    background: url(../img/description.png) no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 16px;
    left: 27px; 
}

.menu_locations :before{
    content: " ";
    background: url(../img/mountains.png) no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 16px;
    left: 27px;
}

.menu_partners :before{
    content: " ";
    background: url(../img/partners.png) no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    left: 27px;
}

.menu_contacts :before{
    content: " ";
    background: url(../img/contacts.png) no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    left: 27px;
}

.arrow_down{
    display: none;
}




            /*INDEX*/

.background_index{
    background: url(../img/house_in_mountains.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.background_index p{
    max-width: 600px;;
    text-align: center;
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;
    margin: auto;
    color: #fff;
    font-family: "Archangelsk Regular";
    font-size: 21px;
}

.background_index p img{
    width: 80%;
}


        /*LOCATIONS*/

html,
body {
    height: 100%;
}

* {
    outline: none;
}

body {
    margin: 0px;
    padding: 0px;
    background: #000;
}

#toolbar {
    position: fixed;
    z-index: 3;
    right: 10px;
    top: 10px;
    padding: 5px;
    background: url(../img/fs_img_g_bg.png);
}
        
#toolbar img {
    border: none;
}

#img_title {
    position: fixed;
    z-index: 3;
    left: 10px;
    top: 10px;
    padding: 10px;
    background: url(../img/fs_img_g_bg.png);
    color: #FFF;
    font-family: 'Josefin Sans Std Light', arial, serif;
    font-size: 24px;
    text-transform: uppercase;
}

#bg {
    position: fixed;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#bgimg {
    display: none;
    -ms-interpolation-mode: bicubic;
}

#preloader {
    position: relative;
    z-index: 3;
    width: 32px;
    padding: 20px;
    top: 80px;
    margin: auto;
    background: #000;
}

#thumbnails_wrapper {
    z-index: 2;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: url(empty.gif);
    /* stupid ie needs a background value to understand hover area */
}

#outer_container {
    position: relative;
    padding: 0;
    width: 100%;
    margin: 0 auto;
}

#outer_container .thumbScroller {
    position: relative;
    overflow: hidden;
    background: url(fs_img_g_bg.png);
}

#outer_container .thumbScroller,
#outer_container .thumbScroller .container,
#outer_container .thumbScroller .content {
    height: 170px;
}

#outer_container .thumbScroller .container {
    position: relative;
    left: 0;
}

#outer_container .thumbScroller .content {
    float: left;
}

#outer_container .thumbScroller .content div {
    height: 100%;
}

#outer_container .thumbScroller img {
    border: 5px solid #fff;
}

#outer_container .thumbScroller .content div a {
    display: block;
    padding: 5px;
}

.nextImageBtn,
.prevImageBtn {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    margin: -25px 10px 0 10px;
    z-index: 3;
    filter: alpha(opacity=40);
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
}

.nextImageBtn:hover,
.prevImageBtn:hover {
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

.nextImageBtn {
    right: 0;
    background: #000 url(../img/nextImgBtn.png) center center no-repeat;
}

.prevImageBtn {
    background: #000 url(../img/prevImgBtn.png) center center no-repeat;
    left: 90px;
}


        /*DESCRIPTION*/

.background_description,
.background_partners{
    background: url(../img/house_in_mountains.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.background_partners{
    background: url(../img/background_contacts.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.description{
    position: absolute;
    left: 0;
    right: 0;
    max-width: 800px;
    margin: 0 auto;
    background: rgba(255,255,255,.7);
    padding: 50px;
}

.description a{
    color: blue;
    font-weight: bold;
}

.description h2{
    text-align: center;
}

.description h3{
    text-align: left;
    margin-bottom: 10px;
    margin-top: 30px;
    font-family: "Archangelsk Regular";
    letter-spacing: 1px;
    text-transform: uppercase;
}

.description p{
    font-size: 17px;
    line-height: 1.5;
    margin-top: 10px;
    font-weight: bold;
    font-family: "Colidri";
}

.description span{
    font-family: "Archangelsk Regular";
    letter-spacing: 1px;
}


         /*DESCRIPTION_SLIDER_360*/


.slider_360{
    max-width: 640px;
    margin: 0 auto;
}

.threesixty {
  position: relative;
  overflow: hidden;
  border: solid 1px #999;
  margin: 25px auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.threesixty .spinner {
  width: 60px;
  display: block;
  margin: 0 auto;
  height: 30px;
  background: #333;
  background: rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.threesixty .spinner span {
  font-family: Arial, "MS Trebuchet", sans-serif;
  font-size: 12px;
  font-weight: bolder;
  color: #FFF;
  text-align: center;
  line-height: 30px;
  display: block;
}

.threesixty .threesixty_images {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.threesixty .threesixty_images img {
  -position: absolute;
  top: 0;
  width: 100%;
  height: auto;
}

.threesixty_images li{
    font-size: 0;
}

.threesixty .threesixty_images img.current-image {
  visibility: visible;
  width: 100%;
}

.threesixty .threesixty_images img.previous-image {
  visibility: hidden;
  width: 0;
}

.threesixty .nav_bar {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 11;
}

.threesixty .nav_bar a {
  display: block;
  width: 32px;
  height: 32px;
  float: left;
  background: url(../img/assets/sprites.png) no-repeat;
  text-indent: -99999px;
}

.threesixty .nav_bar a.nav_bar_previous {
  background-position: 0 -73px;
}

.threesixty .nav_bar a.nav_bar_next {
  background-position: 0 -104px;
}

.threesixty .nav_bar a.nav_bar_play {
  background-position: 0 0;
}

.threesixty .nav_bar a.nav_bar_stop {
  background-position: 0 -37px;
}


        /*EQUIPMENT*/

.equipment_table{
    background: rgba(255,255,255,.7); 
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 800px;
    padding: 25px;
    margin-top: 50px;
    border-collapse: collapse;
}

.equipment_table td,
.equipment_table th{
    width: 200px;
    padding: 5px;
    vertical-align: top;
    font-size: 14px;
    border: 1px solid #000;
}

.back{
    width: 75px;
    position: absolute;
    left: 150px;
    top: 50px;
    margin: auto;
}

.back img{
    width: 75px;
}


        /*PARTNERS*/

.container_partners{
    max-width: 700px;
    padding-left: 90px;
    margin: auto;
    padding-top: 100px;
}

.our_partners{
    position: absolute;
    color: #fff;
    left: 0;
    right: 0;
    top: 50px;
    margin: auto;
    text-align: center;
    padding-left: 90px;
}

.partner{
    width: 200px;
    height: 200px;
    background: rgba(255,255,255,.8);
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    position: relative;
    border-radius: 5px;
}

.partner img{
    width: 150px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


        /*CONTACTS*/

.contacts{
    background: url(../img/background_contacts.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.contacts p{
    text-align: center;
    padding: 15px;
    background: rgba(0,0,0,.5);
    color: #fff;
    bottom: 25px;
    left: 0;
    right: 0;
    margin: auto;
    position: fixed;
}


        /*FORM_FEEDBACK*/

.form{
    position: absolute;
    top: 40px;
    width: 300px;
    left: 0;
    right: 0;
    margin: auto;
    background: rgba(0,0,0,.5);
    color: #fff;
    padding: 25px;
    border-radius: 10px;
    font-size: 18px;
}

.form label{
    padding-left: 10px;
}

.form input{
    display: block;
    margin: 10px;
    width: 270px;
    height: 30px;
    font-size: 18px;
    border: 0;
    border-radius: 5px;
}

.form [type="submit"]{
    margin-top: 20px;
}

    
                /*FONTS*/

@font-face {
    font-family: "Archangelsk Regular";
    src: url(../fonts/Archangelsk.woff2) format('woff2'),
         url(../fonts/Archangelsk.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}


                /*ADAPTIVE*/


@media (max-width: 991px){
        
    .leftBlock{
        display: none;
    } 

                /*mobile_menu*/

    .mobile_menu{
        display: block;
        width: 100%;
        height: 50px;
        margin: 0;
        border-bottom: 1px solid #000;
    }
    
    .logo{
        top: 15px;
        left: 15px;
    }

    .logo_mini{
        display: none;
    }
    
    .menu{
        background: rgba(0,39,14,.9);
    }
    
    .leftBlockMenu{
        margin-top: -300px;
        transition: .1s;
    }
    
    .pictures{
        display: none;
    }
    
    .navbar-toggle{
        position: absolute;
        top: 8px;
        right: 15px;
        padding: 10px;
    }
    
    .icon-bar{
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background: #ccc;
    }
    
    .mobile_menu:hover .leftBlockMenu{
        margin-top: 50px;
    }
    
    .arrow_down{
        display: block;
        position: absolute;
        right: 10px;
        top: 7px;
        z-index: 100;
    }
    
    
            /*description_mobile*/
    
    .description{
        padding: 60px 20px;      
    }
    
    
            /*equipment_mobile*/
    
    .equipment_table{
        display: none;
    }
    
    .back{
        display: none;
    }
    
    .wrapper_equipment_mobile{
        padding: 60px 0 20px;
    }
    
    .equipment_mobile{
        position: relative;
        padding: 10px 20px;
        background: rgba(255,255,255,.7);
        list-style: none;
        line-height: 1.5;
        
    }
    
    .equipment_mobile li{
        font-family: "Colidri";
        font-size: 17px;
        font-weight: bold;
    }
    
    .equipment_mobile :first-child{
        font-size: 18px;
        margin-bottom: 10px;
        text-align: center;
    }
    
    
            /*locations_mobile*/
    
    .prevImageBtn{
        left: 0;
    }
    
    #toolbar{
        top: 55px;
        right: 5px;
    }
    
    #thumbnails_wrapper{
        display: none;
    }
    
            /*partners_mobile*/
    
    
    .our_partners{
        padding-left: 0;
    }
    
    .container_partners{
        padding-left: 0;
        text-align: center;
    }
    
    
            /*contacts_mobile*/
    
    .form{
        width: 85%;
        max-width: 300px;
        position: static;
        margin-top: 20px;
    }
    
    .form input{
        padding-left: 0;
        width: 85%;
    }
    
    .contacts p{
        position: static;
        margin-top: 65px;
    }
}